body {
padding: 0;
margin: 0;
background: url(../images/sunset.jpg) no-repeat 0 -350px; 
}

.wraper {    
    min-height: 950px;
    padding: 0;
    margin: 0 auto;
    width: 1300px;
    border: 2px solid black;
    position: relative;    

}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu {
    display: block;    
    margin-top: 60px;
    border: 2px dashed red;
    width: 45%;
}


.header::after{
    content: "";
    display: table;    
    clear: both;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

.menu li {
    display: inline-block;
    margin-right: 30px;
    font-size: 1.5em; 
}
.menu a {
    text-decoration: None;
}

.logo {
    font-size: 4em;
    color: red;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 600px;
    display: inline-block;
    border: 2px dashed red;
}


.j-logo {
    vertical-align: sub;
}