<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>SJ's Home page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/HomePage.css' %}">
</head>
<body>
	<div class="wraper">
	<div class="header">
	<ul class="menu menu-left">
		<li><a href="#">Home</a></li>
		<li><a href="#">AboutMe</a></li>
		<li><a href="#">Potfolio</a></li>		
	</ul>

	<div class="logo">
		<span class="s-logo">S</span><span class="j-logo">J</span>
	</div>

	<ul class="menu menu-right">
		<li><a href="/qa">AskMe</a></li>
		<li><a href="/blog">Blog</a></li>
	</ul>
	</div>
	<div>
	<h1>SJ's Home page</h1>
	2016
	2017
	Welcome to my personal page
	</div>
	</div>
</body>
</html>