<DOCTYPE! html>
<head>
	<title>AskSJ</title>
	<link rel="stylesheet" type="text/css" href="/mainqa.css">
</head>
<body>
	<div class="header">
		<h2>AskSJ</h2>
		<form method="Post" action="#">
			<input type="search" name="search">
		</form>
		<a class="btn" href="#">Ask!</a>
		<img src="#" alt="avatar">
		<span class="user">Dr.Pepper</span>
		<a href="#">settings</a>
		<a href="#">log out</a>
	</div>
	<div class="question-block">
		<h2>New Questions</h2>
		<a href="#">Hot Questions</a>
		<div class="question-block-1">
			<img src="#" alt="avatar">
			<a href="#">How to build a moon park?</a>
			<p>Guys, I have a problem with a moon park. Can't find the black-jack ...</p>
			<form>
				<input type="number" name="number" id="number">
				<a href="#">answer (3)</a>
				<span>Tags</span> 
				<a href="#">black-jack</a>
				<a href="#">bender</a>
			</form>
		</div>
		<div class="question-block-1">
			<img src="#" alt="avatar">
			<a href="#">How to build a moon park?</a>
			<p>Guys, I have a problem with a moon park. Can't find the black-jack ...</p>
			<form>
				<input type="number" name="number" id="number">
				<a href="#">answer (3)</a>
				<span>Tags</span> 
				<a href="#">black-jack</a>
				<a href="#">bender</a>
			</form>
		</div>
		<div class="question-block-1">
			<img src="#" alt="avatar">
			<a href="#">How to build a moon park?</a>
			<p>Guys, I have a problem with a moon park. Can't find the black-jack ...</p>
			<form>
				<input type="number" name="number" id="number">
				<a href="#">answer (3)</a>
				<span>Tags</span> 
				<a href="#">black-jack</a>
				<a href="#">bender</a>
			</form>
		</div>
		<div class="pop-tags">
			<h2>Popular Tags</h2>
			<p></p>
		</div>
		<div class="Best-members">
			<h2>Best Members</h2>
			<ul>
				<li>Mr.Freeman</li>
				<li>Dr.House</li>
				<li>Bender</li>
				<li>Queen Victoria</li>
				<li>V.Pupkin</li>
			</ul>
		</div>
		<div class="paginator">
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">...</a>
			<a href="#">54</a>			
		</div>		
	</div>
	
</body>