{% extends 'qa/mainqa.html' %}

	{% block content %}
	<div class="main">
			<h2>New Questions</h2>
			<a href="#">Hot Questions</a>
			
			<div class="question-block">				
				<img src="#" alt="avatar">
				<div class="block-text">
					<h3><a href="#">How to build a moon park?</a></h3>
					<p>Guys, I have a problem with a moon park. Can't find the black-jack ...</p>
				</div>
				<form>
					<input type="number" name="number" id="number">
				</form>
				<div class="block-foot">
					<a href="#">answer (3)</a>
					<span>Tags</span> 
					<a href="#">black-jack</a>
					<a href="#">bender</a>
				</div>	
			</div>
			<div class="question-block">
				<img src="#" alt="avatar">
				<div class="block-text">
					<h3><a href="#">How to build a moon park?</a></h3>
					<p>Guys, I have a problem with a moon park. Can't find the black-jack ...</p>
				</div>
				<form>
					<input type="number" name="number" id="number">
				</form>
				<div class="block-foot">
					<a href="#">answer (3)</a>
					<span>Tags</span> 
					<a href="#">black-jack</a>
					<a href="#">bender</a>
				</div>		
	</div>
	{% endblock %}